<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <ExmTools>
      <ControllerRegister>ExmTool</ControllerRegister>
      <ToolList>
        <Tool>
          <Name>Generate Contacts</Name>
          <Sequence>1</Sequence>
          <Action>GenerateContacts</Action>
          <Description>The tool can help you generate fake contact data and add these data to the contact list.
            The tool can also pick any random fake generated contact and search contact
          </Description>
        </Tool>
        <Tool>
          <Name>Decrypt Email Link</Name>
          <Sequence>2</Sequence>
          <Action>DecryptEmailLink</Action>
          <Description>
            Given the xxx keys, the tool can help you to get the decrypted email link parameters
            If no key is provided in the form, the key from connectionstring will be used.
          </Description>
        </Tool>
        <Tool>
          <Name>Email Dispatch Performance Monitor</Name>
          <Sequence>3</Sequence>
          <Action>EmailPerformance</Action>
          <Description>This tool will monitor the active dispatch task and show the performance</Description>
        </Tool>
        <Tool>
          <Name>Dummy</Name>
          <Sequence>4</Sequence>
          <Action>Dummy</Action>
          <Description>Placeholder</Description>
        </Tool>
      </ToolList>
    </ExmTools>
  </sitecore>
</configuration>
