<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <ExmTools>
      <ControllerRegister>ExmTool</ControllerRegister>
      <ToolList>
        <Tool>
          <Name>Generate Contacts</Name>
          <Sequence>1</Sequence>
          <Action>GenerateContacts</Action>
          <Description>The tool can help you generate fake contact data and add these data to the contact list.
            You define the number of contacts in each list (1~10000) and the number of lists (1~10).
            Then this tool will help you to generate these number of contacts in each list.
          </Description>
        </Tool>
        <Tool>
          <Name>Pick Up Random Contact And List</Name>
          <Sequence>2</Sequence>
          <Action>PickUpContactAndList</Action>
          <Description>
            The tool can also pick any random fake generated contact and list.
            This is mainly help to get a specific contact or list information for some other api tests
            It can avoid direct checking in the database which is more convenient.
          </Description>
        </Tool>
        <Tool>
          <Name>List Subscription</Name>
          <Sequence>3</Sequence>
          <Action>UpdateListSubscription</Action>
          <Description>
            This tool can invoke one of the five operations:\n
            This operation is defined in the EXM client api which usually sends out the
            request message from one public server (CD or standalone) to the message bus.
            Then the handler from CM server will process the message accroding to your selection

            Operation Type:
            a. Add to list (add a contact to a contact list)
            b. remove from list (remove a contact from a contact list)
            c. subscribe to message (contact is added to the first contact list that is included in the email campaign)
            d. unsubscribe to message (contact is removed from all the included list)
            e. unsubscribe from all (contact is added to the global opt-out list that is related to the email manager root)

            More info:
            https://doc.sitecore.com/xp/en/developers/exm/102/email-experience-manager/the-email-experience-manager-client-api.html


          </Description>
        </Tool>
        <Tool>
          <Name>Decrypt Email Link</Name>
          <Sequence>4</Sequence>
          <Action>DecryptEmailLink</Action>
          <Description>
            Sitecore encrypts the links in the email when sending them out.
            These encrypted links will be decrypted when recipients click it.
            The encrypted link usually contains useful information about the message and the contact.
            So, it might be useful to manually decrypted it for some test/debug purpose.
          </Description>
        </Tool>
        <Tool>
          <Name>Send Automated Email Campaign</Name>
          <Sequence>5</Sequence>
          <Action>SendAutomatedEmail</Action>
          <Description>
            This is another exm client api use case. An automated email campaign doesn't contain associated list
            Instead, you send this email campaign to recipient with the api call. This can be useful in some cases
            For example: When user submit the order, you want to give a confirmation to this user only.

            Since it needs to be triggered with api call. So, this tool just puts it in a form.
          </Description>
        </Tool>
        <Tool>
          <Name>Email Dispatch Performance Monitor</Name>
          <Sequence>6</Sequence>
          <Action>EmailPerformance</Action>
          <Description>This tool will monitor the active dispatch task and show the performance</Description>
        </Tool>
      </ToolList>
    </ExmTools>
  </sitecore>
</configuration>